*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:rgb(15, 15, 83);
     display: flex;
     min-height: 100vh;
     min-width: 100vw;
    justify-content: center;
    align-items: center;
}
.app{
    background-color: #ffffff;
    width: 500px;
    min-height: 400px;
    height: auto;
    border-radius: 6px;
    padding: 30px;
}
#special{
    border-bottom: 2px solid black;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.time{
    height: 40px;
    width: 80px;
    border-radius: 6px;
    border:3px solid rgb(23, 23, 99);
    font-size: 17px;
    font-weight: bold;
    color:black;
}
.quiz h2{
    padding-top: 20px;
    padding-bottom: 13px;
}
.all{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.button{
    height: 54px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.last{
    background-color:  rgb(7, 7, 65);
    color: white;
    font-size: 17px;
    height: 45px;
    width: 174px;
    border-radius: 4px;
    cursor: pointer;
    border: 3px solid black;
    
}



